<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PureSec</title>

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="shortcut icon">

    <!-- CSS -->
    {% style "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" %}
    {% style "/css/main.css" %}
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-puresec">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ servlet-context }}/"><i class="glyphicon glyphicon-eye-open"></i> PureSec</a>
            </div>
            <div id="nav-puresec" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% ifequal page "home.html" %} class="active"{% endifequal %}>
                        <a href="{{ servlet-context }}/alarm/home">Dashboard</a>
                    </li>
                    <li {% ifequal page "settings.html" %} class="active"{% endifequal %}>
                        <a href="{{ servlet-context }}/admin/settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

<!-- Javascript -->
<script src="/js/external/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/js/external/bootstrap-3.3.4.min.js" type="text/javascript"></script>
<script src="/js/detector.js" type="text/javascript"></script>
<script src="/js/handler.js" type="text/javascript"></script>
<script src="/js/settings.js" type="text/javascript"></script>
<script src="/js/home.js" type="text/javascript"></script>
