{% extends "sceleton.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-wrench"> Handler Mapping</i>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Detector</th>
                    <th>Mapped Handlers</th>
                </tr>
            </thead>
            <tbody>
            {% for handler_mapping in handler_mappings %}
                <tr class="detector" data-detector-id="{{handler_mapping.id}}">
                    <td>
                        {{handler_mapping.detector_name}}
                    </td>
                    <td>
                    {% for handler in handler_mapping.handlers %}
                        <span class="handler" data-handler-id="{{handler.id}}">
                            {{handler.handler_name}}
                            <span class="handler_state{% if handler.mapped %} handler_state_mapped{% endif %}"></span>
                        </span>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
