html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.state {
    background-color: gray;
    width: 100px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
}
.state_ok {
    background-color: #009900;
}
.state_error {
    background-color: #990000;
}

.button:hover {
    font-weight: bold;
    cursor: pointer;
}

.handler {
    color: white;
    background-color: #202020;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.handler:hover {
    background-color: black;
}
.handler_state {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-left: 3px;
    border-radius: 4px;
    color: #990000;
    background-color: #990000;
}
.handler_state.handler_state_mapped {
    background-color: #009900;
    color: #009900;
}

.table_system_state th:first-child,
.table_handlers th:first-child,
.table_slaves th:first-child {
    width: 75%;
}

.settings .table_handlers th:first-child,
.settings .table_slaves th:first-child,
.settings .handler_mappings th:first-child {
    width: 25%;
}
.settings .table_handlers th:nth-child(2),
.settings .table_slaves th:nth-child(2) {
    width: 50%;
}
