html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

.state {
    background-color: gray;
    width: 100px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
}
.state_ok {
    background-color: #009900;
}
.state_error {
    background-color: #990000;
}

.trigger {
    color: white;
    background-color: #202020;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.trigger:hover {
    background-color: black;
}
.trigger_state {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-left: 3px;
    border-radius: 4px;
    color: #990000;
    background-color: #990000;
}
.trigger_state.trigger_state_mapped {
    background-color: #009900;
    color: #009900;
}

.table_system_state th:first-child {
    width: 75%;
}
.table_triggers th:first-child,
.table_slaves th:first-child {
    width: 25%;
}
.table_triggers th:nth-child(2),
.table_slaves th:nth-child(2) {
    width: 50%;
}
